version: '3.9'
services:
  app:
    build: .
    ports:
      - '5000:5000'
    env_file:
      - .env
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://mongo:27017/sugar_streaker

  mongo:
    image: mongo:7
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
